.allyContainer {
  float:left;
  height: 500px;
  width: 200px;
  background-color: white;
  display: inline-block;
}

.enemyContainer {
  float:right;
  height: 500px;
  width: 200px;
  background-color: white;
  display: inline-block;
}

.teamContainer {
    // height: 300px;
    width: 200px;
    list-style: none;
    overflow: hidden;
}

.SuggestionBox {
  // display: none;
  width: 50%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;

  li {
    list-style: none;
    display: inline-block;
  }

  div {
    min-width: 110px;
    // height: 100px;
    // display: inline-block;
    // width: 120px;
  }
}

.currentSelectionContainer {
  margin:0;
  margin-left: auto;
  margin-right: auto;
}

.teamContainer li {
  list-style: none;
}

.teamContainer li div img {
  height: 100px;
  width: 100px;
}

.currentSelectionContainer {
  margin: 0;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.teamWrapper {
  // width: 100%;
  background-color: gray;
}